body {
  background-color: rgb(37, 90, 63);
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: bold;
  font-size: 40px;
  padding: 30px;
  color: white;
  text-align: center;
}

.player-holder {
  background-color: white;
  padding: 20px 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.players {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.players input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
}

.players input:hover {
  border-color: rgb(26, 231, 125);
}

.start {
  background-color: rgb(37, 90, 63);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  font-size: 20px;
}

.start:hover {
  transform: scale(1.10);
}

.text-holder {
  margin-top: 15px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
